<footer>
	<div id="footerRow1" class="row footer footerR2">
		<div class="col-sm-2">
			<img class="logo" src="${pageContext.request.contextPath}/resources/img/logo.png"/>
		</div>
		<div class="col-sm-10" id="legalInfo" itemscope	itemtype="http://schema.org/Corporation">
			<span itemprop="legalName"><h4>Piazza affari</h4></span>
			<p>Sede legale : <span itemprop="address"> Isola C4, Centro Direzionale, 80133 Napoli NA</span></p>
			<p itemprop="email">info@piazzaaffari.it</p>
		</div>
	</div>
</footer>